<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005635425028-3dt03ath2cj6nkbofgpap8jknr06rrl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005635425028-3dt03ath2cj6nkbofgpap8jknr06rrl4</string>
	<key>API_KEY</key>
	<string>AIzaSyBy_lkmgwiu3yZY8dfarRIi4dzoNoVNArg</string>
	<key>GCM_SENDER_ID</key>
	<string>1005635425028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cliverMobile</string>
	<key>PROJECT_ID</key>
	<string>cliver-3c062</string>
	<key>STORAGE_BUCKET</key>
	<string>cliver-3c062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005635425028:ios:58449bd7f91894f5df3651</string>
</dict>
</plist>